textarea{
    width: 80%;
    height: 10vh;
    display: block;
    margin: auto;
    padding: 1rem;
}
#output{
    border: 1px solid black;
    width: 80%;
    height: 10vh;
    margin: auto;
    padding: 1rem;
}